<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=h1, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="icon" href="img/icon-mail.svg">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created to checkout Node.js. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="img/slide-drill.jpg" alt="drill">
  </div>

  {{>footer}}
</body>
</html>
