<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=h1, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather</title>
  <link rel="icon" href="img/icon-mail.svg">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <form>
      <input type="text" placeholder="Location">
      <button type="submit">Search</button>
    </form>
  </div>
  {{>footer}}
  <script src="js/app.js"></script>
</body>
</html>
